# Sample Caddyfile for automatic HTTPS
# MODIFICATION NOTICE:
# This file was created or modified by Ruthvik Upputuri in 2026.
# This project is a fork of the MySigMail project (https://github.com/antonreshetov/mysigmail).
# In accordance with Section 5(a) of the GNU Affero General Public License, Version 3 (AGPL-3.0),
# notice is hereby given that this file has been modified or added by Ruthvik Upputuri.
#
# For full terms of the AGPL-3.0 license, please refer to the LICENSE file.
mysigmail.yourdomain.com {
    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
        Content-Security-Policy "default-src 'self'; img-src 'self' data: https: http: blob:; style-src 'self' 'unsafe-inline' https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:; connect-src 'self' https: http: wss:;"
    }
    
    root * /srv
    file_server
    try_files {path} /index.html
}
